    <div style="margin: 25px;">

        <span >
            <img src="/Users/sharmabijaya1/Desktop/vbg-dashboard/vbg-dashboard-poc/src/assets/img
            /verizon-red-icon-black.png" alt="Verizon logo" width="500" height="600">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon>
    </span>
    
        <span class = "right-align"> 
            <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="person"></mat-icon>

            Welcome John Doe <br>
            Product Manager</span>
        
    </div>
