<mat-tab-group>
    <mat-tab label="OnDemand Vs Bill">
        <ng-template matTabContent>
          <!-- <div class="wrapper">
            <div>
              <app-dashboard-table></app-dashboard-table>
            </div>
            <div>Two</div>
          </div> -->
          <div class="grid-container">
            <div class="item1">Header</div>
            <div class="item2">
              <app-dashboard-dropdown-chart></app-dashboard-dropdown-chart>
            </div>
            <div class="item3">
              <app-dashboard-table></app-dashboard-table>
            </div>  
            <div class="item4">
              <app-dashboard-line-chart></app-dashboard-line-chart>
            </div>
            <div class="item5">Footer</div>
          </div>
        </ng-template>
    <!-- <ng-template>
      <h1>hello</h1>
  </ng-template> -->
    </mat-tab>
    <mat-tab label="Preorder Vs Bill">
      <ng-template matTabContent>
        <div class="grid-container">
          <div class="item1">Header</div>
          <div class="item2"></div>
          <div class="item3">
            <app-dashboard-table></app-dashboard-table>
          </div>  
          <div class="item4">
            <app-dashboard-bar-chart></app-dashboard-bar-chart>
          </div>
          <div class="item5">Footer</div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="PostOrder vs Bill">
      <ng-template matTabContent>
        Content 3 - Loaded: 
      </ng-template>
    </mat-tab>
  </mat-tab-group>